*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PrimaryTabs */

.PrimaryTabs {
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
}

.PrimaryTabs > .nav {
  background-color: #7e7e7e !important;
}

.PrimaryTabs > .nav .nav-item {
  width: 33.3333%;
  text-align: center;
}

.PrimaryTabs > .nav-tabs {
  border-bottom: unset !important;
}

.PrimaryTabs > .nav-tabs .nav-link {
  margin-bottom: unset !important;
  border: 1px solid #363636 !important;
  font-weight: bold;
}

.PrimaryTabs > .nav .nav-item .nav-link {
  background-color: #363636 !important;
  color: #fff;
}

.PrimaryTabs > .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #bccefd !important;
}

.PrimaryTabs > .nav-tabs .nav-item.show .nav-link,
.PrimaryTabs > .nav-tabs .nav-link.active {
  color: #8dadff !important;
  border: 1px solid #363636;
}

/* SecondaryTabs */
.SecondaryTabs > .nav {
  background-color: #7e7e7e !important;
}

.SecondaryTabs > .nav .nav-item {
  text-align: center;
}

.SecondaryTabs > .nav-tabs {
  border-bottom: unset !important;
}

.SecondaryTabs > .nav-tabs .nav-link {
  margin-bottom: unset !important;
  border: unset !important;
  border-top: 4px solid #ededed !important;
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

.SecondaryTabs > .nav .nav-item .nav-link {
  background-color: #ededed !important;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.SecondaryTabs > .nav-tabs .nav-link:focus,
.SecondaryTabs > .nav-tabs .nav-link:hover {
  border-top: 4px solid #bccfff !important;
  color: unset !important;
}

.SecondaryTabs > .nav-tabs .nav-item.show .nav-link,
.SecondaryTabs > .nav-tabs .nav-link.active {
  border-top: 4px solid #8dadff !important;
  background-color: #fff !important;
}

/* Tab */
.Tab pre {
  border-radius: 3px;
}
